Repository luke-h1/lho-lambda, changes with the labels that .github/labeler.yml gives for each.
All labels: Lambda, Infrastructure

fix(infrastructure): prevent branches being out of sync with main
  .github/workflows/build-prerelease-version.yml
  scripts/ensure-rebased.sh
Labels: Infrastructure

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
Labels: Lambda

fix(lambda): give lambda cw log settings
  terraform/gateway.tf
  terraform/lambda.tf
Labels: Infrastructure

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
Labels: Lambda

chore(tooling): update deps
  apps/lambda/package.json
  package.json
  pnpm-lock.yaml
Labels: Lambda

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
  pnpm-lock.yaml
Labels: Lambda

chore(frontend): update deps
  apps/lambda/package.json
  pnpm-lock.yaml
Labels: Lambda

chore(lambda): update deps
  apps/lambda/package.json
  package.json
  pnpm-lock.yaml
Labels: Lambda

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
  pnpm-lock.yaml
Labels: Lambda

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
  pnpm-lock.yaml
Labels: Lambda

chore(lambda): update esbuild
  apps/lambda/package.json
  pnpm-lock.yaml
Labels: Lambda

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
  pnpm-lock.yaml
Labels: Lambda

chore(infrastructure): update pnpm
  .github/actions/install/action.yml
  .github/workflows/build-prerelease-version.yml
  .github/workflows/build-release-version.yml
  .github/workflows/deploy.yml
  .github/workflows/destroy.yml
  package.json
Labels: Infrastructure

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
Labels: Lambda

fix(infrastructure): fix cw filters
  terraform/cw_metric_filter.tf
Labels: Infrastructure

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
Labels: Lambda

feat(lambda): restrict cors origins
  apps/lambda/src/index.ts
  apps/lambda/src/routes/index.ts
  terraform/gateway.tf
Labels: Lambda, Infrastructure

chore(lambda): general cleanup
  apps/lambda/src/handlers/now-playing/index.ts
  apps/lambda/src/handlers/version/index.ts
  apps/lambda/src/index.ts
  apps/lambda/src/routes/index.ts
  apps/lambda/src/services/spotifyService.ts
  apps/lambda/src/utils/__tests__/buildPath.test.ts
  apps/lambda/src/utils/buildPath.ts
Labels: Lambda

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
Labels: Lambda

chore(lambda): update tsconfig deps
  package.json
  pnpm-lock.yaml
Labels: none

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
  pnpm-lock.yaml
Labels: Lambda

chore(lambda): update deps
  apps/lambda/package.json
  package.json
  pnpm-lock.yaml
Labels: Lambda

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
  pnpm-lock.yaml
Labels: Lambda

fix(infrastructure): fix terraform plan
  .github/actions/deploy/action.yml
Labels: Infrastructure

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
Labels: Lambda

fix(infrastructure): pin terraform version due to bug in latest tf version
  .github/actions/deploy/action.yml
  .github/actions/destroy/action.yml
Labels: Infrastructure

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
Labels: Lambda

chore(lambda): update minor deps
  apps/lambda/package.json
  package.json
  pnpm-lock.yaml
Labels: Lambda

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
  pnpm-lock.yaml
Labels: Lambda

chore(lambda): update deps
  package.json
  pnpm-lock.yaml
Labels: none

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
  pnpm-lock.yaml
Labels: Lambda

feat(infra): add telegram for notifications
  .github/workflows/build-prerelease-version.yml
  .github/workflows/build-release-version.yml
  .github/workflows/deploy.yml
Labels: Infrastructure

chore(lambda): update esbuild
  apps/lambda/package.json
  pnpm-lock.yaml
Labels: Lambda

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
  pnpm-lock.yaml
Labels: Lambda

chore(lambda): update deps
  apps/lambda/package.json
  package.json
  pnpm-lock.yaml
Labels: Lambda

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
  pnpm-lock.yaml
Labels: Lambda

chore(lambda): update to latest node
  .nvmrc
  terraform/lambda.tf
Labels: Infrastructure

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
Labels: Lambda

chore(lambda): cleanup pathing
  apps/lambda/src/index.ts
Labels: Lambda

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
Labels: Lambda

.github/labeler.yml:

Lambda:
  - "**/lambda/**"

Infrastructure:
  - terraform/**
  - .github/**/*
  - .github/*
