Repository luke-h1/lho-lambda, changes with the labels that .github/labeler.yml gives for each.
All labels: Lambda, Infrastructure

.github/labeler.yml:

Lambda:
  - "**/lambda/**"

Infrastructure:
  - terraform/**
  - .github/**/*
  - .github/*

fix(ci): fix pnpm version
  .github/workflows/build-release-version.yml
Labels: Infrastructure

fix(ci): fix missing scripts
  .github/workflows/build-release-version.yml
Labels: Infrastructure

chore(ci): auth with aws + terraform
  .github/workflows/build-release-version.yml
Labels: Infrastructure

fix(ci): fix aws creds
  .github/workflows/build-release-version.yml
Labels: Infrastructure

fix(ci): fix working dir terraform
  .github/workflows/build-release-version.yml
Labels: Infrastructure

chore(ci): test steps
  .github/workflows/build-release-version.yml
Labels: Infrastructure

chore(ci): add secrets
  .github/workflows/build-release-version.yml
Labels: Infrastructure

fix(ci): build lambda before plan
  .github/workflows/build-release-version.yml
Labels: Infrastructure

fix(ci): fix publish step
  .github/workflows/build-release-version.yml
Labels: Infrastructure

fix(lambda): fix deprecated lerna option
  .github/workflows/build-release-version.yml
  lerna.json
Labels: Infrastructure

fix(lambda): add publish message
  lerna.json
Labels: none

fix(ci): add missing commitlint dep
  package.json
  pnpm-lock.yaml
Labels: none

fix(ci): lerna version
  .github/workflows/build-release-version.yml
  lerna.json
Labels: Infrastructure

fix(ci): fix lerna version command
  .github/workflows/build-release-version.yml
Labels: Infrastructure

fix(ci): no token on publish
  .github/workflows/build-release-version.yml
Labels: Infrastructure

fix(ci): gh token
  .github/workflows/build-release-version.yml
Labels: Infrastructure

fix(ci): gh token
  .github/workflows/build-release-version.yml
Labels: Infrastructure

fix(ci): contents write
  .github/workflows/build-release-version.yml
Labels: Infrastructure

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
  pnpm-lock.yaml
Labels: Lambda

feat(ci): apply on release
  .github/workflows/build-release-version.yml
Labels: Infrastructure

feat(ci): add discord notifications
  .github/workflows/build-release-version.yml
Labels: Infrastructure

fix(ci): pull before notifcation
  .github/workflows/build-release-version.yml
Labels: Infrastructure

chore(lambda): update discord notifications
  .github/workflows/build-release-version.yml
Labels: Infrastructure

chore(ci): force version
  .github/workflows/build-release-version.yml
Labels: Infrastructure

fix(ci): pull-requests write
  .github/workflows/build-release-version.yml
Labels: Infrastructure

fix(ci): red check mark
  .github/workflows/build-release-version.yml
Labels: Infrastructure

feat(ci): cat tfplan
  .github/workflows/build-release-version.yml
Labels: Infrastructure

fix(ci): github token
  .github/workflows/build-release-version.yml
Labels: Infrastructure

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
Labels: Lambda

fix(ci): cat tfplan on approval
  .github/workflows/build-release-version.yml
Labels: Infrastructure

fix(ci): fix work dir
  .github/workflows/build-release-version.yml
Labels: Infrastructure

fix(ci): fix red circle displaying in discord
  .github/workflows/build-release-version.yml
Labels: Infrastructure

fix(ci): test echo body
  .github/workflows/build-release-version.yml
Labels: Infrastructure

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
Labels: Lambda

chore(lambda): add metadata to lambda function
  terraform/lambda.tf
Labels: Infrastructure

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
Labels: Lambda

chore(ci): ensure branch is rebased from main
  .github/workflows/build-release-version.yml
Labels: Infrastructure

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
Labels: Lambda

feat(ci): add staging CI deploys
  .github/workflows/build-prerelease-version.yml
  terraform/lambda.tf
Labels: Infrastructure

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
Labels: Lambda
