Repository luke-h1/lho-lambda, changes with the labels that .github/labeler.yml gives for each.
All labels: Lambda, Infrastructure

chore(lambda): update deps
  package.json
  pnpm-lock.yaml
Labels: none

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/authorizer/CHANGELOG.md
  apps/authorizer/package.json
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
  pnpm-lock.yaml
Labels: Lambda

chore(lambda): update dependencies
  package.json
  pnpm-lock.yaml
Labels: none

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/authorizer/CHANGELOG.md
  apps/authorizer/package.json
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
  pnpm-lock.yaml
Labels: Lambda

feat(infrastructure): add turborepo to project
  .github/workflows/build-prerelease-version.yml
  .github/workflows/build-release-version.yml
  .gitignore
  package.json
  pnpm-lock.yaml
  turbo.json
Labels: Infrastructure

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/authorizer/CHANGELOG.md
  apps/authorizer/package.json
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
  pnpm-lock.yaml
Labels: Lambda

feat(infrastructure): changeset
  .changeset/README.md
  .changeset/config.json
  .github/workflows/build-prerelease-version.yml
  package.json
  pnpm-lock.yaml
  scripts/actions/build-all.mjs
  scripts/actions/lib/commands.mjs
  scripts/actions/lib/constants.mjs
  scripts/actions/lib/packages.mjs
  scripts/changesets/changelog.js
  scripts/changesets/version.mjs
Labels: Infrastructure

feat(infrastructure): add changesets
  .github/workflows/build-prerelease-version.yml
  .github/workflows/build-release-version.yml
Labels: Infrastructure

feat(infrastructure): add changesets
  .github/workflows/build-prerelease-version.yml
  .github/workflows/build-release-version.yml
Labels: Infrastructure

feat(infrastructure): add changesets
  .changeset/config.json
  .github/workflows/build-prerelease-version.yml
  .github/workflows/build-release-version.yml
  package.json
Labels: Infrastructure

feat(infrastructure): changests
  .github/workflows/build-prerelease-version.yml
  .github/workflows/build-release-version.yml
Labels: Infrastructure

chore(lambda): update deps
  package.json
  pnpm-lock.yaml
Labels: none

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/authorizer/CHANGELOG.md
  apps/authorizer/package.json
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
  pnpm-lock.yaml
Labels: Lambda

feat(lambda): reduce certs
  terraform/acm.tf
Labels: Infrastructure

chore(lambda): update deps
  package.json
  pnpm-lock.yaml
Labels: none

fix(infrastructure): fix branch deploys
  terraform/acm.tf
Labels: Infrastructure

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/authorizer/CHANGELOG.md
  apps/authorizer/package.json
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
  pnpm-lock.yaml
Labels: Lambda

chore(lambda): decrease revalidation time
  apps/lambda/src/routes/index.ts
Labels: Lambda

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/authorizer/CHANGELOG.md
  apps/authorizer/package.json
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
Labels: Lambda

chore(lambda): update deps
  package.json
  pnpm-lock.yaml
Labels: none

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/authorizer/CHANGELOG.md
  apps/authorizer/package.json
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
  pnpm-lock.yaml
Labels: Lambda

chore(lambda): update deps
  package.json
  pnpm-lock.yaml
Labels: none

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/authorizer/CHANGELOG.md
  apps/authorizer/package.json
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
  pnpm-lock.yaml
Labels: Lambda

chore(lambda): update deps
  package.json
  pnpm-lock.yaml
Labels: none

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/authorizer/CHANGELOG.md
  apps/authorizer/package.json
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
  pnpm-lock.yaml
Labels: Lambda

chore(lambda): update alphabetize script
  apps/lambda/package.json
  package.json
Labels: Lambda

chore(lambda): update alphabetize script
  scripts/alphabetizePackageJson.js
Labels: none

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/authorizer/CHANGELOG.md
  apps/authorizer/package.json
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
Labels: Lambda

chore(lambda): update PNPM version
  .github/workflows/build-prerelease-version.yml
  .github/workflows/build-release-version.yml
  .github/workflows/deploy.yml
  .github/workflows/destroy.yml
  package.json
Labels: Infrastructure

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/authorizer/CHANGELOG.md
  apps/authorizer/package.json
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
Labels: Lambda

feat(lambda): add prom metrics
  .github/workflows/build-prerelease-version.yml
  .github/workflows/build-release-version.yml
  .github/workflows/deploy.yml
  .github/workflows/destroy.yml
  apps/lambda/package.json
  apps/lambda/src/index.ts
  pnpm-lock.yaml
  terraform/lambda.tf
  terraform/variables.tf
  test.txt
Labels: Lambda, Infrastructure

fix(infrastructure): fix workflows
  .github/workflows/build-prerelease-version.yml
  .github/workflows/build-release-version.yml
  .github/workflows/deploy.yml
  .github/workflows/destroy.yml
Labels: Infrastructure

fix(lambda): fix approval step
  .github/workflows/build-release-version.yml
Labels: Infrastructure

fix(infrastructure): remove approval step due to gh issues
  .github/workflows/build-release-version.yml
Labels: Infrastructure

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/authorizer/CHANGELOG.md
  apps/authorizer/package.json
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
Labels: Lambda

chore(lambda): update deps
  README.md
  package.json
  pnpm-lock.yaml
Labels: none

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/authorizer/CHANGELOG.md
  apps/authorizer/package.json
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
  pnpm-lock.yaml
Labels: Lambda

chore(lambda): increase stale time
  apps/lambda/src/routes/index.ts
Labels: Lambda

feat(lambda): add node-cache for in-memory caching
  apps/lambda/package.json
  apps/lambda/src/handlers/now-playing/index.ts
  pnpm-lock.yaml
Labels: Lambda

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/authorizer/CHANGELOG.md
  apps/authorizer/package.json
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
Labels: Lambda

.github/labeler.yml:

Lambda:
  - "**/lambda/**"

Infrastructure:
  - terraform/**
  - .github/**/*
  - .github/*
