Repository luke-h1/lho-lambda, changes with the labels that .github/labeler.yml gives for each.
All labels: Lambda, Infrastructure

refactor(ci): re-work changelogs to be in their own action
  .github/actions/changelog/action.yml
  .github/actions/deploy/action.yml
  .github/workflows/build-prerelease-version.yml
  .github/workflows/build-release-version.yml
  .github/workflows/deploy.yml
Labels: Infrastructure

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
Labels: Lambda

chore(ci): reword notifications
  .github/workflows/build-prerelease-version.yml
  .github/workflows/build-release-version.yml
Labels: Infrastructure

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
Labels: Lambda

fix(infrastructure): prevent concurrent terraform deploys
  .github/actions/deploy/action.yml
  terraform/dynamodb.tf
  terraform/remote.tf
Labels: Infrastructure

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
Labels: Lambda

refactor(infrastructure): simplify custom domains
  .github/actions/deploy/action.yml
  .github/workflows/build-prerelease-version.yml
  .github/workflows/build-test-version.yml
  terraform/acm.tf
  terraform/gateway.tf
  terraform/main.tf
  terraform/remote.tf
  terraform/variables.tf
Labels: Infrastructure

refactor(infrastructure): refactor naming conventions
  .github/actions/deploy/action.yml
  terraform/acm.tf
  terraform/outputs.tf
  terraform/remote.tf
Labels: Infrastructure

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
Labels: Lambda

feat(lambda): new staging domain
  .github/workflows/build-prerelease-version.yml
  .github/workflows/build-release-version.yml
  .github/workflows/deploy.yml
  .github/workflows/destroy.yml
  terraform/acm.tf
  terraform/gateway.tf
  terraform/variables.tf
Labels: Infrastructure

chore(infrastructure): link to pre-release
  .github/workflows/build-prerelease-version.yml
Labels: Infrastructure

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
Labels: Lambda

chore(lambda): update deps
  package.json
  pnpm-lock.yaml
Labels: none

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
  pnpm-lock.yaml
Labels: Lambda

chore(lambda): update eslint
  package.json
  pnpm-lock.yaml
Labels: none

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
  pnpm-lock.yaml
Labels: Lambda

chore(lambda): logic fix + destroy workflow typo fix
  .github/workflows/destroy.yml
  apps/lambda/src/routes/index.ts
Labels: Lambda, Infrastructure

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
Labels: Lambda

feat(authorizer): add simple authorizer lambda
  apps/authorizer/package.json
  apps/authorizer/src/index.ts
  pnpm-lock.yaml
Labels: none

feat(lambda): auth
  terraform/authorizer.tf
  terraform/gateway.tf
Labels: Infrastructure

feat(lambda): auth
  apps/authorizer/package.json
  apps/authorizer/src/index.ts
  apps/authorizer/tsconfig.json
  pnpm-lock.yaml
  terraform/gateway.tf
Labels: Infrastructure

fix(lambda): auth
  apps/authorizer/package.json
Labels: none

chore(lambda): update deps
  package.json
  pnpm-lock.yaml
Labels: none

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
  pnpm-lock.yaml
Labels: Lambda

refactor(infrastructure): add project_name variable
  terraform/acm.tf
  terraform/dynamodb.tf
  terraform/lambda.tf
  terraform/variables.tf
Labels: Infrastructure

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
Labels: Lambda

chore(infrastructure): update terraform action
  .github/actions/deploy/action.yml
  .github/actions/destroy/action.yml
Labels: Infrastructure

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
Labels: Lambda

fix(infrastructure): fix husky warnings
  .husky/pre-commit
Labels: none

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
Labels: Lambda

chore(infrastructure): make comments easier to read
  .github/workflows/build-prerelease-version.yml
Labels: Infrastructure

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
Labels: Lambda

docs(documentation): update readme
  README.md
Labels: none

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
Labels: Lambda

fix(infrastructure): serverless dynamo for tf locks
  terraform/dynamodb.tf
Labels: Infrastructure

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
Labels: Lambda

feat(infrastructure): add cloudwatch metric filter
  terraform/cw_metric_filter.tf
  terraform/gateway.tf
  terraform/lambda.tf
Labels: Infrastructure

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
Labels: Lambda

chore(infrastructure): tweak discord deploy notification
  .github/workflows/build-prerelease-version.yml
  .github/workflows/build-release-version.yml
Labels: Infrastructure

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
Labels: Lambda

.github/labeler.yml:

Lambda:
  - "**/lambda/**"

Infrastructure:
  - terraform/**
  - .github/**/*
  - .github/*
