Repository luke-h1/lho-lambda, changes with the labels that .github/labeler.yml gives for each.
All labels: Lambda, Infrastructure

.github/labeler.yml:

Lambda:
  - "**/lambda/**"

Infrastructure:
  - terraform/**
  - .github/**/*
  - .github/*

chore(api): debug issues on prod lambda
  Sources/lambda/http/SpotifyApi.swift
  terraform/variables.tf
Labels: Lambda, Infrastructure

fix(api): fix secrets not being loaded
  .github/workflows/build-prerelease-version.yml
  .github/workflows/deploy-test.yml
  .github/workflows/deploy.yml
  terraform/lambda.tf
  terraform/variables.tf
Labels: Infrastructure

fix(api): fix secrets not being loaded
  .github/actions/deploy/action.yml
  .github/workflows/build-prerelease-version.yml
  .github/workflows/deploy-test.yml
  .github/workflows/deploy.yml
Labels: Infrastructure

fix(api): fix secrets not being loaded
  .github/actions/deploy/action.yml
  .github/workflows/build-prerelease-version.yml
  .github/workflows/deploy-test.yml
  .github/workflows/deploy.yml
  .github/workflows/release.yml
Labels: Infrastructure

fix(api): fix secrets not being loaded
  .github/actions/deploy/action.yml
  terraform/lambda.tf
  terraform/variables.tf
Labels: Infrastructure

fix(api): fix secrets not being loaded
  Sources/lambda/http/SpotifyApi.swift
Labels: Lambda

fix(api): fix secrets not being loaded
  Sources/lambda/http/SpotifyApi.swift
Labels: Lambda

fix(api): fix secrets not being loaded
  Sources/lambda/http/SpotifyApi.swift
Labels: Lambda

fix(api): fix secrets not being loaded
  Sources/lambda/http/SpotifyApi.swift
Labels: Lambda

fix(api): fix spotify 500
  Sources/lambda/http/SpotifyApi.swift
Labels: Lambda

fix(api): fix spotify 500
  Sources/lambda/http/SpotifyApi.swift
Labels: Lambda

chore(lambda): update lambda deps
  .bun-version
  .github/actions/deploy/action.yml
  .swift-version
  Package.swift
  Sources/authorizer/main.swift
  Sources/lambda/Utils/Cache.swift
  Sources/lambda/Utils/ResponseBuilder.swift
  Sources/lambda/Utils/Router.swift
  Sources/lambda/http/SpotifyApi.swift
  Sources/lambda/main.swift
  bun.lock
  package.json
Labels: Lambda, Infrastructure

chore(lambda): update deps
  .github/workflows/deploy-staging.yml
Labels: Infrastructure

chore(lambda): update deps
  Package.swift
  Sources/authorizer/main.swift
  Sources/lambda/Models/Spotify.swift
  Sources/lambda/Services/NowPlayingService.swift
  Sources/lambda/Services/TopTracksService.swift
  Sources/lambda/Services/VersionService.swift
  Sources/lambda/Utils/Cache.swift
  Sources/lambda/Utils/Environment.swift
  Sources/lambda/Utils/ResponseBuilder.swift
  Sources/lambda/Utils/Router.swift
  Sources/lambda/http/SpotifyApi.swift
  Sources/lambda/main.swift
  package.json
Labels: Lambda

chore(lambda): update deps
  terraform/gateway.tf
Labels: Infrastructure

refactor(api): lastfm
  .github/actions/deploy/action.yml
  .github/workflows/build-prerelease-version.yml
  .github/workflows/deploy-staging.yml
  .github/workflows/release.yml
  terraform/authorizer.tf
  terraform/lambda.tf
Labels: Infrastructure

refactor(api): lastfm
  .github/actions/deploy/action.yml
  .github/actions/install/action.yml
  .github/actions/validate/action.yml
  .github/workflows/build-prerelease-version.yml
  .github/workflows/deploy-staging.yml
  .github/workflows/deploy.yml
  .github/workflows/release.yml
  scripts/update-changelog.sh
  src/Lho.Lambda.Authorizer/Lho.Lambda.Authorizer.csproj
  src/Lho.Lambda.Local/Lho.Lambda.Local.csproj
  src/Lho.Lambda.Tests/Lho.Lambda.Tests.csproj
  src/Lho.Lambda.Tests/NowPlayingServiceTests.cs
  src/Lho.Lambda/Lho.Lambda.csproj
  src/Lho.Lambda/Services/NowPlayingService.cs
  terraform/authorizer.tf
  terraform/lambda.tf
Labels: Infrastructure

refactor(api): lastfm
  .github/actions/deploy/action.yml
  .github/workflows/build-prerelease-version.yml
  .github/workflows/deploy-staging.yml
  .github/workflows/release.yml
Labels: Infrastructure

chore(release): publish [skip ci]
  CHANGELOG.md
Labels: none

feat(lambda): add observability
  .github/actions/deploy/action.yml
  Lho.Lambda.slnx
  src/Lho.Lambda.Authorizer/Functions/AuthorizerFunction.cs
  src/Lho.Lambda.Authorizer/Lho.Lambda.Authorizer.csproj
  src/Lho.Lambda.Observability/Lho.Lambda.Observability.csproj
  src/Lho.Lambda.Observability/ObservabilityConfig.cs
  src/Lho.Lambda.Observability/PrometheusMetrics.cs
  src/Lho.Lambda.Observability/SentryTelemetry.cs
  src/Lho.Lambda.Observability/StructuredLog.cs
  src/Lho.Lambda.Tests/AuthorizerFunctionTests.cs
  src/Lho.Lambda.Tests/PrometheusMetricsTests.cs
  src/Lho.Lambda/Functions/ApiFunction.cs
  src/Lho.Lambda/Lho.Lambda.csproj
  src/Lho.Lambda/Services/NowPlayingService.cs
  src/Lho.Lambda/Services/TopTracksService.cs
  terraform/authorizer.tf
  terraform/lambda.tf
  terraform/variables.tf
Labels: Infrastructure

feat(lambda): add observability
  .github/actions/deploy/action.yml
  src/Lho.Lambda.Observability/PrometheusMetrics.cs
  src/Lho.Lambda.Tests/PrometheusMetricsTests.cs
  terraform/authorizer.tf
Labels: Infrastructure

feat(lambda): add observability
  src/Lho.Lambda.Tests/ApiFunctionTests.cs
  src/Lho.Lambda/Functions/ApiFunction.cs
  src/Lho.Lambda/Utils/ResponseBuilder.cs
Labels: none

chore(release): publish [skip ci]
  CHANGELOG.md
Labels: none

chore(api): add c# formatting to pre-commit
  .husky/pre-commit
  .pre-commit-config.yaml
  README.md
  commitizen.config.js
  src/Lho.Lambda.Authorizer/Functions/AuthorizerFunction.cs
  src/Lho.Lambda.Authorizer/Lho.Lambda.Authorizer.csproj
  src/Lho.Lambda.Local/Lho.Lambda.Local.csproj
  src/Lho.Lambda.Local/Program.cs
  src/Lho.Lambda.Observability/Lho.Lambda.Observability.csproj
  src/Lho.Lambda.Tests/Lho.Lambda.Tests.csproj
  src/Lho.Lambda/Clients/Spotify/SpotifyApi.cs
  src/Lho.Lambda/Lho.Lambda.csproj
  src/Lho.Lambda/Services/NowPlayingService.cs
  src/Lho.Lambda/Utils/MemoryCache.cs
Labels: none

chore(release): publish [skip ci]
  CHANGELOG.md
Labels: none

refactor(api): improve codebase structure
  CONTEXT.md
  Lho.Lambda.slnx
  src/Lho.Lambda.Authorizer/Functions/AuthorizerFunction.cs
  src/Lho.Lambda.Authorizer/Lho.Lambda.Authorizer.csproj
  src/Lho.Lambda.Observability/Lho.Lambda.Observability.csproj
  src/Lho.Lambda.Observability/ObservabilityConfig.cs
  src/Lho.Lambda.RuntimeConfiguration/Lho.Lambda.RuntimeConfiguration.csproj
  src/Lho.Lambda.RuntimeConfiguration/Options/AuthorizerOptions.cs
  src/Lho.Lambda.RuntimeConfiguration/Options/DeploymentOptions.cs
  src/Lho.Lambda.RuntimeConfiguration/Options/FeatureFlagsOptions.cs
  src/Lho.Lambda.RuntimeConfiguration/Options/LastFmOptions.cs
  src/Lho.Lambda.RuntimeConfiguration/Options/ObservabilityOptions.cs
  src/Lho.Lambda.RuntimeConfiguration/Options/SpotifyOptions.cs
  src/Lho.Lambda.RuntimeConfiguration/RuntimeConfig.cs
  src/Lho.Lambda.RuntimeConfiguration/RuntimeConfigurationException.cs
  src/Lho.Lambda.Tests/ApiFunctionTests.cs
  src/Lho.Lambda.Tests/AuthorizerFunctionTests.cs
  src/Lho.Lambda.Tests/Lho.Lambda.Tests.csproj
  src/Lho.Lambda.Tests/NowPlayingServiceTests.cs
  src/Lho.Lambda.Tests/RuntimeConfigurationTests.cs
  src/Lho.Lambda/Clients/LastFm/LastFmApi.cs
  src/Lho.Lambda/Clients/Spotify/SpotifyApi.cs
  src/Lho.Lambda/Functions/ApiFunction.cs
  src/Lho.Lambda/Lho.Lambda.csproj
  src/Lho.Lambda/Services/NowPlayingService.cs
  src/Lho.Lambda/Services/VersionService.cs
  src/Lho.Lambda/Utils/EnvironmentConfig.cs
Labels: none

refactor(api): improve codebase structure
  src/Lho.Lambda.Tests/ApiFunctionTests.cs
Labels: none

refactor(api): improve codebase structure
  src/Lho.Lambda.Tests/NowPlayingServiceTests.cs
  src/Lho.Lambda/Models/Spotify.cs
  src/Lho.Lambda/Services/NowPlayingService.cs
Labels: none

chore(release): publish [skip ci]
  CHANGELOG.md
Labels: none

chore(api): update to dotnet 10
  terraform/lambda.tf
Labels: Infrastructure

fix(infrastructure): bump aws provider
  terraform/main.tf
Labels: Infrastructure

fix(infrastructure): bump aws provider
  src/Lho.Lambda.Local/Lho.Lambda.Local.csproj
  src/Lho.Lambda.Observability/Lho.Lambda.Observability.csproj
  src/Lho.Lambda.RuntimeConfiguration/Lho.Lambda.RuntimeConfiguration.csproj
  src/Lho.Lambda.Tests/Lho.Lambda.Tests.csproj
  src/Lho.Lambda/Lho.Lambda.csproj
Labels: none

fix(infrastructure): bump aws provider
  .github/actions/deploy/action.yml
  .github/actions/install/action.yml
  .github/actions/validate/action.yml
  .github/workflows/build-prerelease-version.yml
  .github/workflows/deploy-staging.yml
  .github/workflows/release.yml
  src/Lho.Lambda.Authorizer/Lho.Lambda.Authorizer.csproj
  src/Lho.Lambda.Observability/SentryTelemetry.cs
  src/Lho.Lambda/Functions/ApiFunction.cs
  src/Lho.Lambda/Utils/MemoryCache.cs
  terraform/authorizer.tf
  terraform/lambda.tf
Labels: Infrastructure

chore(api): update to dotnet 10 (#217)
  .github/actions/deploy/action.yml
  .github/actions/install/action.yml
  .github/actions/validate/action.yml
  .github/workflows/build-prerelease-version.yml
  .github/workflows/deploy-staging.yml
  .github/workflows/release.yml
  src/Lho.Lambda.Authorizer/Lho.Lambda.Authorizer.csproj
  src/Lho.Lambda.Local/Lho.Lambda.Local.csproj
  src/Lho.Lambda.Observability/Lho.Lambda.Observability.csproj
  src/Lho.Lambda.Observability/SentryTelemetry.cs
  src/Lho.Lambda.RuntimeConfiguration/Lho.Lambda.RuntimeConfiguration.csproj
  src/Lho.Lambda.Tests/Lho.Lambda.Tests.csproj
  src/Lho.Lambda/Functions/ApiFunction.cs
  src/Lho.Lambda/Lho.Lambda.csproj
  src/Lho.Lambda/Utils/MemoryCache.cs
  terraform/authorizer.tf
  terraform/lambda.tf
  terraform/main.tf
Labels: Infrastructure

chore(api): remove push gw
  .github/actions/deploy/action.yml
  CONTEXT.md
  src/Directory.Build.props
  src/Lho.Lambda.Authorizer/Functions/AuthorizerFunction.cs
  src/Lho.Lambda.Authorizer/Properties/AssemblyInfo.cs
  src/Lho.Lambda.Authorizer/Serialization/LambdaEventsJsonContext.cs
  src/Lho.Lambda.Observability/InvocationMetric.cs
  src/Lho.Lambda.Observability/InvocationTags.cs
  src/Lho.Lambda.Observability/LambdaInvocation.cs
  src/Lho.Lambda.Observability/ObservabilityConfig.cs
  src/Lho.Lambda.Observability/PrometheusMetrics.cs
  src/Lho.Lambda.Observability/SentryTelemetry.cs
  src/Lho.Lambda.Observability/StructuredLog.cs
  src/Lho.Lambda.RuntimeConfiguration/Consumers.cs
  src/Lho.Lambda.RuntimeConfiguration/Options/ObservabilityOptions.cs
  src/Lho.Lambda.RuntimeConfiguration/RuntimeConfig.cs
  src/Lho.Lambda.Tests/ApiFunctionTests.cs
  src/Lho.Lambda.Tests/AuthorizerFunctionTests.cs
  src/Lho.Lambda.Tests/LambdaSerializerTests.cs
  src/Lho.Lambda.Tests/NowPlayingServiceTests.cs
  src/Lho.Lambda.Tests/PrometheusMetricsTests.cs
  src/Lho.Lambda.Tests/RuntimeConfigurationTests.cs
  src/Lho.Lambda.Tests/SpotifyApiTests.cs
  src/Lho.Lambda/Clients/LastFm/LastFmApi.cs
  src/Lho.Lambda/Clients/Spotify/SpotifyApi.cs
  src/Lho.Lambda/Functions/ApiFunction.cs
  src/Lho.Lambda/Models/Api.cs
  src/Lho.Lambda/Properties/AssemblyInfo.cs
  src/Lho.Lambda/Serialization/ApiResponseJsonContext.cs
  src/Lho.Lambda/Serialization/ClientJsonContexts.cs
  src/Lho.Lambda/Serialization/LambdaEventsJsonContext.cs
  src/Lho.Lambda/Services/NowPlayingService.cs
  src/Lho.Lambda/Services/TopTracksService.cs
  src/Lho.Lambda/Services/VersionService.cs
  src/Lho.Lambda/Utils/QueryStringParser.cs
  src/Lho.Lambda/Utils/ResponseBuilder.cs
  terraform/authorizer.tf
  terraform/lambda.tf
  terraform/variables.tf
Labels: Infrastructure

fix(infrastructure): fix failing changelog
  .github/workflows/deploy.yml
  .github/workflows/release.yml
Labels: Infrastructure

chore(release): publish [skip ci]
  CHANGELOG.md
Labels: none

feat(api): add recent-tracks endpoint
  CONTEXT.md
  src/Lho.Lambda.Tests/ApiFunctionTests.cs
  src/Lho.Lambda/Clients/LastFm/LastFmApi.cs
  src/Lho.Lambda/Functions/ApiFunction.cs
  src/Lho.Lambda/Models/LastFm.cs
  src/Lho.Lambda/Serialization/ApiResponseJsonContext.cs
Labels: none

feat(api): add recent-tracks endpoint (#219)
  CONTEXT.md
  src/Lho.Lambda.Tests/ApiFunctionTests.cs
  src/Lho.Lambda/Clients/LastFm/LastFmApi.cs
  src/Lho.Lambda/Functions/ApiFunction.cs
  src/Lho.Lambda/Models/LastFm.cs
  src/Lho.Lambda/Serialization/ApiResponseJsonContext.cs
Labels: none

chore(release): publish [skip ci]
  CHANGELOG.md
Labels: none
