Repository luke-h1/lho-lambda, changes with the labels that .github/labeler.yml gives for each.
All labels: Lambda, Infrastructure

.github/labeler.yml:

Lambda:
  - "**/lambda/**"

Infrastructure:
  - terraform/**
  - .github/**/*
  - .github/*

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/authorizer/CHANGELOG.md
  apps/authorizer/package.json
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
  pnpm-lock.yaml
Labels: Lambda

chore(infrastructure): update actions/cache version
  .github/workflows/build-prerelease-version.yml
  .github/workflows/build-release-version.yml
  .github/workflows/deploy.yml
  .github/workflows/destroy.yml
  apps/lambda/src/handlers/now-playing/index.ts
Labels: Lambda, Infrastructure

chore(infrastructure): update setup node version
  .github/workflows/build-prerelease-version.yml
  .github/workflows/build-release-version.yml
  .github/workflows/deploy.yml
  .github/workflows/destroy.yml
Labels: Infrastructure

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/authorizer/CHANGELOG.md
  apps/authorizer/package.json
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
Labels: Lambda

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/authorizer/CHANGELOG.md
  apps/authorizer/package.json
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
Labels: Lambda

chore(lambda): update deps
  package.json
  pnpm-lock.yaml
Labels: none

feat(lambda): pino logger
  apps/lambda/package.json
  apps/lambda/src/index.ts
  apps/lambda/src/utils/logger.ts
  pnpm-lock.yaml
Labels: Lambda

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/authorizer/CHANGELOG.md
  apps/authorizer/package.json
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
  pnpm-lock.yaml
Labels: Lambda

chore(lambda): update deps
  package.json
  pnpm-lock.yaml
Labels: none

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/authorizer/CHANGELOG.md
  apps/authorizer/package.json
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
  pnpm-lock.yaml
Labels: Lambda

refactor(infrastructure): cleanup infra
  apps/lambda/src/index.ts
  terraform/acm.tf
  terraform/domain.tf
  terraform/gateway.tf
  terraform/lambda.tf
  terraform/main.tf
  terraform/outputs.tf
  terraform/variables.tf
Labels: Lambda, Infrastructure

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/authorizer/CHANGELOG.md
  apps/authorizer/package.json
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
Labels: Lambda

refactor(lambda): refactor ci/cd to use composite actions and update unit tests
  .github/actions/deploy/action.yml
  .github/actions/destroy/action.yml
  .github/actions/install/action.yml
  .github/actions/validate/action.yml
  .github/workflows/build-prerelease-version.yml
  .github/workflows/build-release-version.yml
  .github/workflows/deploy.yml
  .github/workflows/destroy.yml
  .gitignore
  apps/authorizer/CHANGELOG.md
  apps/authorizer/package.json
  apps/authorizer/src/index.ts
  apps/authorizer/src/types/env.d.ts
  apps/authorizer/src/utils/buildPolicy.ts
  apps/authorizer/src/utils/validateToken.ts
  apps/lambda/jest.config.js
  apps/lambda/package.json
  apps/lambda/src/routes/__tests__/route.test.ts
  apps/lambda/src/test/setupGlobals.js
  apps/lambda/src/test/setupTests.js
  apps/lambda/src/utils/__tests__/buildPath.test.ts
  apps/lambda/src/utils/buildPath.ts
  package.json
  pnpm-lock.yaml
Labels: Lambda, Infrastructure

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
  pnpm-lock.yaml
Labels: Lambda

chore(lambda): add git sha to /version
  .github/workflows/build-prerelease-version.yml
  .github/workflows/build-release-version.yml
  apps/lambda/src/handlers/version/index.ts
  terraform/lambda.tf
  terraform/variables.tf
Labels: Lambda, Infrastructure

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
Labels: Lambda

chore(lambda): update deps
  apps/lambda/src/utils/lambdaError.ts
  package.json
  pnpm-lock.yaml
  scripts/alphabetizePackageJson.js
Labels: Lambda

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
  pnpm-lock.yaml
Labels: Lambda

fix(ci): only run version on live deploys
  .github/actions/deploy/action.yml
Labels: Infrastructure

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
Labels: Lambda

fix(ci): pull latest commits on deploy step
  .github/workflows/deploy.yml
Labels: Infrastructure

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
Labels: Lambda

fix(ci): only trigger changelogs via build-release-version
  .github/actions/deploy/action.yml
Labels: Infrastructure

fix(ci): add git sha to deploy workflow
  .github/workflows/deploy.yml
Labels: Infrastructure

chore(ci): cleanup actions
  .github/actions/deploy/action.yml
  .github/actions/destroy/action.yml
  .github/actions/install/action.yml
  .github/actions/validate/action.yml
Labels: Infrastructure

chore(ci): debug event triggers
  .github/actions/deploy/action.yml
Labels: Infrastructure

chore(ci): debug triggers
  .github/actions/deploy/action.yml
Labels: Infrastructure

fix(ci): fix changelogs not publishing
  .github/actions/deploy/action.yml
  .github/workflows/build-prerelease-version.yml
  .github/workflows/build-release-version.yml
  .github/workflows/deploy.yml
Labels: Infrastructure

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
Labels: Lambda

fix(ci): fix latest version not being included in apply
  .github/actions/deploy/action.yml
  .github/workflows/build-release-version.yml
Labels: Infrastructure

fix(ci): fix build
  .github/actions/deploy/action.yml
Labels: Infrastructure

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
Labels: Lambda

fix(ci): fix version on stg
  .github/actions/deploy/action.yml
Labels: Infrastructure

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
Labels: Lambda

fix(ci): dont create changelogs on stg
  .github/workflows/build-prerelease-version.yml
Labels: Infrastructure

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
Labels: Lambda

fix(ci): fetch before pull
  .github/actions/deploy/action.yml
Labels: Infrastructure

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
Labels: Lambda

fix(ci): fix version not updating
  .github/actions/deploy/action.yml
  .github/workflows/deploy.yml
Labels: Infrastructure

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
Labels: Lambda
