Repository luke-h1/lho-lambda, changes with the labels that .github/labeler.yml gives for each.
All labels: Lambda, Infrastructure

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
Labels: Lambda

fix(infrastructure): deploy
  terraform/lambda.tf
Labels: Infrastructure

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
Labels: Lambda

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
Labels: Lambda

fix(infrastructure): disable cw
  terraform/gateway.tf
  terraform/lambda.tf
Labels: Infrastructure

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
Labels: Lambda

fix(infrastructure): cw disable
  terraform/lambda.tf
Labels: Infrastructure

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
Labels: Lambda

fix(infra): cw remove
  terraform/gateway.tf
  terraform/lambda.tf
Labels: Infrastructure

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
Labels: Lambda

fix(infrastructure): enable cw logging
  terraform/gateway.tf
  terraform/lambda.tf
Labels: Infrastructure

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
Labels: Lambda

fix(infrastructure): write to cw
  terraform/lambda.tf
Labels: Infrastructure

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
Labels: Lambda

feat(lambda): enable snap start
  terraform/lambda.tf
Labels: Infrastructure

chore(infrastructure): disable cloudwatch
  terraform/gateway.tf
  terraform/lambda.tf
Labels: Infrastructure

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
Labels: Lambda

fix(infrastructure): enable cw
  terraform/gateway.tf
  terraform/lambda.tf
Labels: Infrastructure

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
Labels: Lambda

fix(infrastructure): lambda perms
  terraform/lambda.tf
Labels: Infrastructure

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
Labels: Lambda

fix(infrastructure): debug path
  apps/lambda/src/index.ts
Labels: Lambda

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
Labels: Lambda

fix(infrastructure): logging
  terraform/lambda.tf
Labels: Infrastructure

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
Labels: Lambda

fix(infrastructure): log
  terraform/lambda.tf
Labels: Infrastructure

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
Labels: Lambda

fix(infrastructure): log
  terraform/gateway.tf
  terraform/lambda.tf
Labels: Infrastructure

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
Labels: Lambda

fix(infrastructure): destroy workflow
  .github/workflows/destroy.yml
Labels: Infrastructure

fix(infrastructure): destroy
  .github/workflows/destroy.yml
Labels: Infrastructure

fix(infrastructure): destroy
  .github/workflows/destroy.yml
Labels: Infrastructure

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
Labels: Lambda

fix(infrastructure): new certs
  .gitignore
  lambda.zip
  terraform/.DS_Store
  terraform/envs/.gitkeep
Labels: Infrastructure

fix(infrastructure): certs
  .gitignore
  lambda.zip
Labels: none

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
Labels: Lambda

chore(infrastructure): disable logging
  terraform/gateway.tf
  terraform/lambda.tf
Labels: Infrastructure

chore(infrastructure): disable logging
  terraform/gateway.tf
Labels: Infrastructure

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
Labels: Lambda

chore(infrastructure): disable xray
  apps/lambda/src/index.ts
Labels: Lambda

.github/labeler.yml:

Lambda:
  - "**/lambda/**"

Infrastructure:
  - terraform/**
  - .github/**/*
  - .github/*
