Repository luke-h1/lho-lambda, changes with the labels that .github/labeler.yml gives for each.
All labels: Lambda, Infrastructure

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
Labels: Lambda

chore(infrastructure): disable gw logs
  terraform/gateway.tf
Labels: Infrastructure

chore(infrastructure): disable gw logging
  terraform/gateway.tf
Labels: Infrastructure

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
Labels: Lambda

chore(lambda): update deps
  package.json
  pnpm-lock.yaml
Labels: none

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
  pnpm-lock.yaml
Labels: Lambda

feat(lambda): add auth lambda
  .github/workflows/build-prerelease-version.yml
  .github/workflows/build-release-version.yml
  apps/authorizer/package.json
  apps/authorizer/src/index.ts
  apps/authorizer/src/types/env.d.ts
  apps/authorizer/src/utils/buildPolicy.ts
  apps/authorizer/src/utils/validateToken.ts
  apps/lambda/src/handlers/health/index.ts
  apps/lambda/src/index.ts
  apps/lambda/tsconfig.json
  pnpm-lock.yaml
  terraform/lambda.tf
  terraform/variables.tf
  tsconfig.json
Labels: Lambda, Infrastructure

fix(lambda): fix version endpoint
  apps/lambda/src/handlers/health/index.ts
  apps/lambda/src/handlers/version/index.ts
Labels: Lambda

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/authorizer/CHANGELOG.md
  apps/authorizer/package.json
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
  pnpm-lock.yaml
Labels: Lambda

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/authorizer/CHANGELOG.md
  apps/authorizer/package.json
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
Labels: Lambda

chore(lambda): update .gitignore
  .DS_Store
  .gitignore
Labels: none

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/authorizer/CHANGELOG.md
  apps/authorizer/package.json
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
Labels: Lambda

feat(lambda): auth lambda infra
  terraform/authorizer_lambda.tf
  terraform/gateway.tf
  terraform/variables.tf
Labels: Infrastructure

chore(lambda): auth lambda
  .github/workflows/build-prerelease-version.yml
Labels: Infrastructure

feat(lambda): auth
  .github/workflows/build-prerelease-version.yml
Labels: Infrastructure

chore(lambda): 2 spaces in json serialization
  apps/lambda/src/handlers/health/index.ts
  apps/lambda/src/handlers/now-playing/index.ts
  apps/lambda/src/handlers/version/index.ts
  apps/lambda/src/routes/index.ts
Labels: Lambda

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/authorizer/CHANGELOG.md
  apps/authorizer/package.json
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
Labels: Lambda

feat(infrastructure): increase burst limit
  terraform/gateway.tf
Labels: Infrastructure

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/authorizer/CHANGELOG.md
  apps/authorizer/package.json
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
Labels: Lambda

chore(infrastructure): increase burst limit
  terraform/gateway.tf
Labels: Infrastructure

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/authorizer/CHANGELOG.md
  apps/authorizer/package.json
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
Labels: Lambda

fix(ci): add missing variable to deploy ci
  .github/workflows/deploy.yml
Labels: Infrastructure

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/authorizer/CHANGELOG.md
  apps/authorizer/package.json
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
Labels: Lambda

chore(lambda): update deps
  package.json
  pnpm-lock.yaml
Labels: none

chore(infrastructure): update pnpm
  .github/workflows/build-prerelease-version.yml
  .github/workflows/build-release-version.yml
  .github/workflows/deploy.yml
  .github/workflows/destroy.yml
Labels: Infrastructure

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/authorizer/CHANGELOG.md
  apps/authorizer/package.json
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
  pnpm-lock.yaml
Labels: Lambda

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/authorizer/CHANGELOG.md
  apps/authorizer/package.json
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
  pnpm-lock.yaml
Labels: Lambda

refactor(infrastructure): refactor routing
  terraform/gateway.tf
  terraform/variables.tf
Labels: Infrastructure

refactor(infrastructure): test
  terraform/variables.tf
Labels: Infrastructure

refactor(infrastructure): routes
  terraform/variables.tf
Labels: Infrastructure

refactor(infrastructure): routes
  terraform/gateway.tf
  terraform/variables.tf
Labels: Infrastructure

refactor(infrastructure): testing
  terraform/gateway.tf
Labels: Infrastructure

refactor(infrastructure): test
  terraform/outputs.tf
Labels: Infrastructure

refactor(infrastructure): test
  .github/workflows/destroy.yml
Labels: Infrastructure

fix(infrastructure): test
  .github/workflows/destroy.yml
Labels: Infrastructure

feat(infrastructure): test
  .github/workflows/destroy.yml
Labels: Infrastructure

feat(infrastructure): test
  lerna.json
Labels: none

refactor(infrastructure): test
  terraform/gateway.tf
Labels: Infrastructure

feat(infrastructure): test
  terraform/gateway.tf
Labels: Infrastructure

feat(infrastructure): test
  lerna.json
Labels: none

.github/labeler.yml:

Lambda:
  - "**/lambda/**"

Infrastructure:
  - terraform/**
  - .github/**/*
  - .github/*
