Repository luke-h1/lho-lambda, changes with the labels that .github/labeler.yml gives for each.
All labels: Lambda, Infrastructure

chore(lambda): remove unused routing
  apps/lambda/src/routes/index.ts
Labels: Lambda

fix(ci): fix build
  apps/lambda/src/routes/__tests__/route.test.ts
Labels: Lambda

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
Labels: Lambda

chore(lambda): tighten path type
  apps/lambda/src/index.ts
  apps/lambda/src/routes/__tests__/route.test.ts
  apps/lambda/src/routes/index.ts
Labels: Lambda

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
Labels: Lambda

chore(gateway): reduce cache time
  apps/lambda/src/routes/index.ts
Labels: Lambda

fix(test): fix route unit test
  apps/lambda/src/routes/__tests__/route.test.ts
Labels: Lambda

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
Labels: Lambda

performance(lambda): increase memory size to 256mb
  terraform/lambda.tf
Labels: Infrastructure

performance(lambda): increase memory size to 256mb
  commitzen.config.js
Labels: none

perf(lambda): increase memory size to 256mb
  commitzen.config.js
Labels: none

perf(lambda): increase memory size to 256mb
  apps/lambda/src/handlers/now-playing/index.ts
  apps/lambda/src/routes/__tests__/route.test.ts
Labels: Lambda

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
Labels: Lambda

chore(lambda): error handling tweaks
  apps/lambda/src/handlers/now-playing/index.ts
Labels: Lambda

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
Labels: Lambda

feat(gateway): protect api with auth
  .github/workflows/build-prerelease-version.yml
  .github/workflows/build-release-version.yml
  .github/workflows/deploy.yml
  .github/workflows/destroy.yml
  apps/authorizer/package.json
  apps/authorizer/src/index.ts
  apps/authorizer/tsconfig.json
  pnpm-lock.yaml
  terraform/authorizer.tf
  terraform/gateway.tf
  terraform/variables.tf
Labels: Infrastructure

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/authorizer/CHANGELOG.md
  apps/authorizer/package.json
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
  pnpm-lock.yaml
Labels: Lambda

chore(infrastructure): align auth lambda settings
  terraform/authorizer.tf
Labels: Infrastructure

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/authorizer/CHANGELOG.md
  apps/authorizer/package.json
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
Labels: Lambda

refactor(api): consumer header validation
  .github/workflows/build-prerelease-version.yml
  .github/workflows/build-release-version.yml
  .github/workflows/deploy.yml
  .github/workflows/destroy.yml
  apps/authorizer/src/index.ts
  terraform/authorizer.tf
  terraform/variables.tf
Labels: Infrastructure

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/authorizer/CHANGELOG.md
  apps/authorizer/package.json
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
Labels: Lambda

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/lho-authorizer/CHANGELOG.md
  apps/lho-authorizer/package.json
  apps/lho-lambda/CHANGELOG.md
  apps/lho-lambda/package.json
  lerna.json
Labels: none

feat(api): add streak handler
  apps/lho-lambda/package.json
  apps/lho-lambda/src/handlers/streak/index.ts
  apps/lho-lambda/src/routes/index.ts
  bun.lock
  terraform/gateway.tf
Labels: Infrastructure

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/lho-authorizer/CHANGELOG.md
  apps/lho-authorizer/package.json
  apps/lho-lambda/CHANGELOG.md
  apps/lho-lambda/package.json
  lerna.json
Labels: none

feat(api): add streak handler
  apps/lho-lambda/src/handlers/streak/index.ts
Labels: none

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/lho-authorizer/CHANGELOG.md
  apps/lho-authorizer/package.json
  apps/lho-lambda/CHANGELOG.md
  apps/lho-lambda/package.json
  lerna.json
Labels: none

chore(lambda): change streak format
  apps/lho-lambda/src/handlers/streak/index.ts
Labels: none

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/lho-authorizer/CHANGELOG.md
  apps/lho-authorizer/package.json
  apps/lho-lambda/CHANGELOG.md
  apps/lho-lambda/package.json
  lerna.json
Labels: none

chore(api): change dates
  apps/lho-lambda/src/handlers/streak/index.ts
Labels: none

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/lho-authorizer/CHANGELOG.md
  apps/lho-authorizer/package.json
  apps/lho-lambda/CHANGELOG.md
  apps/lho-lambda/package.json
  lerna.json
Labels: none

chore(alerts): simulate downtime
  terraform/gateway.tf
Labels: Infrastructure

chore(alerts): simulate downtime
  terraform/gateway.tf
Labels: Infrastructure

chore(release): update changelogs and versions [skip ci]
  CHANGELOG.md
  apps/lho-authorizer/CHANGELOG.md
  apps/lho-authorizer/src/lhoAuthorizer.csproj
  apps/lho-lambda/CHANGELOG.md
  apps/lho-lambda/src/lho-lambda.csproj
  bun.lock
Labels: none

chore(infrastructure): add test to destroy opts
  .github/workflows/destroy.yml
Labels: Infrastructure

chore(infrastructure): add test to destroy opts
  .github/actions/destroy/action.yml
Labels: Infrastructure

feat(lambda): convert project to swift
  .changeset/README.md
  .changeset/config.json
  .github/actions/deploy/action.yml
  .github/workflows/build-prerelease-version.yml
  .github/workflows/deploy-test.yml
  .github/workflows/release.yml
  package.json
Labels: Infrastructure

feat(lambda): convert project to swift
  package.json
Labels: none

feat(lambda): convert project to swift
  .github/workflows/deploy-test.yml
Labels: Infrastructure

feat(lambda): convert to swift
  .changeset/config.json
  .github/actions/changelog/action.yml
  .github/actions/deploy/action.yml
  .github/actions/validate/action.yml
  .github/workflows/build-release-version.yml
  .github/workflows/release.yml
  .github/workflows/version-bump.yml
  .gitignore
  bun.lock
  package.json
Labels: Infrastructure

chore(api): debug issues on prod lambda
  Sources/lambda/Services/NowPlayingService.swift
  Sources/lambda/http/SpotifyApi.swift
Labels: Lambda

.github/labeler.yml:

Lambda:
  - "**/lambda/**"

Infrastructure:
  - terraform/**
  - .github/**/*
  - .github/*
