Repository luke-h1/lho-lambda, changes with the labels that .github/labeler.yml gives for each.
All labels: Lambda, Infrastructure

.github/labeler.yml:

Lambda:
  - "**/lambda/**"

Infrastructure:
  - terraform/**
  - .github/**/*
  - .github/*

feat(infrastructure): test
  terraform/gateway.tf
Labels: Infrastructure

feat(infrastructure): test
  terraform/gateway.tf
Labels: Infrastructure

feat(infrastructure): test
  terraform/gateway.tf
  terraform/tfplan
Labels: Infrastructure

feat(infrastructure): test
  terraform/gateway.tf
Labels: Infrastructure

feat(infrastructure): test
  terraform/gateway.tf
  terraform/lambda.tf
Labels: Infrastructure

feat(infrastructure): test
  terraform/gateway.tf
  terraform/lambda.tf
Labels: Infrastructure

feat(infrastructure): test
  terraform/lambda.tf
Labels: Infrastructure

feat(infrastructure): test
  terraform/gateway.tf
  terraform/lambda.tf
  terraform/outputs.tf
Labels: Infrastructure

feat(infrastructure): pnpm
  terraform/lambda.tf
Labels: Infrastructure

feat(infrastructure): test
  terraform/gateway.tf
  terraform/lambda.tf
Labels: Infrastructure

feat(infrastructure): test
  terraform/gateway.tf
Labels: Infrastructure

feat(infrastructure): test
  terraform/lambda.tf
Labels: Infrastructure

feat(infrastructure): test
  terraform/lambda.tf
Labels: Infrastructure

chore(infrastructure): cleanup routes
  .github/workflows/destroy.yml
  terraform/gateway.tf
Labels: Infrastructure

fix(ci): fix destroy workflow
  .github/workflows/destroy.yml
Labels: Infrastructure

fix(ci): fix destroy
  terraform/gateway.tf
Labels: Infrastructure

feat(ci): test
  terraform/gateway.tf
Labels: Infrastructure

fix(ci): fix destroy
  terraform/gateway.tf
Labels: Infrastructure

feat(infrastructure): test
  terraform/gateway.tf
Labels: Infrastructure

feat(infrastructure): test
  terraform/gateway.tf
Labels: Infrastructure

feat(infrastructure): test
  terraform/gateway.tf
Labels: Infrastructure

fix(infrastructure): test
  terraform/gateway.tf
Labels: Infrastructure

feat(infrastructure): test
  terraform/gateway.tf
Labels: Infrastructure

feat(infrastructure): test
  terraform/gateway.tf
Labels: Infrastructure

fix(infrastructure): test
  apps/lambda/src/index.ts
Labels: Lambda

feat(infrastructure): test
  apps/lambda/src/index.ts
Labels: Lambda

feat(infrastructure): test
  apps/lambda/src/index.ts
Labels: Lambda

feat(infrastructure): test
  apps/lambda/src/index.ts
Labels: Lambda

feat(infrastructure): test
  apps/lambda/src/index.ts
  apps/lambda/src/routes/index.ts
Labels: Lambda

feat(infrastructure): test
  apps/lambda/src/routes/index.ts
Labels: Lambda

feat(infrastructure): test
  apps/lambda/src/index.ts
Labels: Lambda

feat(infrastructure): test
  terraform/gateway.tf
Labels: Infrastructure

fix(lambda): routes
  apps/lambda/src/index.ts
Labels: Lambda

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/authorizer/CHANGELOG.md
  apps/authorizer/package.json
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
Labels: Lambda

fix(lambda): route
  apps/lambda/src/index.ts
Labels: Lambda

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/authorizer/CHANGELOG.md
  apps/authorizer/package.json
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
Labels: Lambda

fix(infrastructure): fix routing
  terraform/gateway.tf
Labels: Infrastructure

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/authorizer/CHANGELOG.md
  apps/authorizer/package.json
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
Labels: Lambda

chore(lambda): update deps
  package.json
  pnpm-lock.yaml
Labels: none

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/authorizer/CHANGELOG.md
  apps/authorizer/package.json
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
  pnpm-lock.yaml
Labels: Lambda
