Repository luke-h1/lho-lambda, changes with the labels that .github/labeler.yml gives for each.
All labels: Lambda, Infrastructure

feat(ci): add stg only deploy
  .github/workflows/deploy-staging.yml
Labels: Infrastructure

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
Labels: Lambda

chore(ci): update discord text
  .github/workflows/deploy-staging.yml
Labels: Infrastructure

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
Labels: Lambda

chore(ci): cleanup deploy ci
  .github/workflows/build-prerelease-version.yml
  .github/workflows/build-release-version.yml
Labels: Infrastructure

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
Labels: Lambda

feat(ci): add comment to deploy stg
  .github/workflows/build-prerelease-version.yml
  .github/workflows/deploy-staging.yml
Labels: Infrastructure

feat(ci): comment deploys
  .github/workflows/build-prerelease-version.yml
  .github/workflows/deploy-staging.yml
Labels: Infrastructure

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
Labels: Lambda

fix(ci): fix pkg versions
  .github/workflows/build-prerelease-version.yml
  .github/workflows/build-release-version.yml
  .github/workflows/deploy-staging.yml
Labels: Infrastructure

chore(ci): split deploy ci
  .github/workflows/deploy-staging.yml
  .github/workflows/deploy.yml
Labels: Infrastructure

chore(ci): add manual deploy ci
  .github/workflows/deploy.yml
Labels: Infrastructure

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
Labels: Lambda

fix(lambda): explict set of cache header if path part is api
  apps/lambda/src/routes/index.ts
Labels: Lambda

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
Labels: Lambda

fix(infrastructure): lock tf applies
  .github/workflows/build-prerelease-version.yml
  .github/workflows/build-release-version.yml
Labels: Infrastructure

fix(infrastructure): remove tf locks
  .github/workflows/build-prerelease-version.yml
  .github/workflows/build-release-version.yml
Labels: Infrastructure

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
Labels: Lambda

chore(lambda): reduce cw log retention
  terraform/gateway.tf
  terraform/lambda.tf
Labels: Infrastructure

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
Labels: Lambda

chore(lambda): update dev deps
  package.json
  pnpm-lock.yaml
Labels: none

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
  pnpm-lock.yaml
Labels: Lambda

chore(ci): remove unused step
  .github/workflows/build-release-version.yml
Labels: Infrastructure

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
Labels: Lambda

fix(ci): add explicit needs block to discord msg
  .github/workflows/deploy.yml
Labels: Infrastructure

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
Labels: Lambda

chore(lambda): reduce cw retention to 3 days
  terraform/gateway.tf
  terraform/lambda.tf
Labels: Infrastructure

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
Labels: Lambda

chore(lambda): enable log export for lambda cw
  terraform/lambda.tf
Labels: Infrastructure

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
Labels: Lambda

chore(infrastructure): change name of log export
  terraform/lambda.tf
Labels: Infrastructure

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
Labels: Lambda

chore(infrastructure): deploy test tag
  terraform/lambda.tf
Labels: Infrastructure

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
Labels: Lambda

chore(infrastructure): disable cw
  .DS_Store
  terraform/.DS_Store
  terraform/gateway.tf
  terraform/lambda.tf
Labels: Infrastructure

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
Labels: Lambda

fix(lambda): cw
  terraform/gateway.tf
  terraform/lambda.tf
Labels: Infrastructure

chore(lambda): remove cloudwatch
  terraform/gateway.tf
  terraform/lambda.tf
Labels: Infrastructure

chore(release): publish [skip ci]
  CHANGELOG.md
  apps/lambda/CHANGELOG.md
  apps/lambda/package.json
  lerna.json
Labels: Lambda

chore(lambda): release
  scripts/destroy.sh
Labels: none

.github/labeler.yml:

Lambda:
  - "**/lambda/**"

Infrastructure:
  - terraform/**
  - .github/**/*
  - .github/*
